<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.azyobuzi.fallfavo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".FallFavoApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light.DarkActionBar">
        <activity
            android:name=".MainPageActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTask"
            android:label="@string/login">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="net.azyobuzi.fallfavo" android:host="callback" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddActivity"
            android:label="@string/add_fav_queue"
            android:noHistory="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <action android:name="net.azyobuzi.fallfavo.ADD_FAV_QUEUE" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />
                <data android:scheme="http" android:host="twitter.com" android:pathPattern="/.*/status/.*" />
                <data android:scheme="https" android:host="twitter.com" android:pathPattern="/.*/status/.*" />
                <data android:scheme="http" android:host="twitter.com" android:pathPattern="/.*/statuses/.*" />
                <data android:scheme="https" android:host="twitter.com" android:pathPattern="/.*/statuses/.*" />
                <data android:scheme="http" android:host="mobile.twitter.com" android:pathPattern="/.*/status/.*" />
                <data android:scheme="https" android:host="mobile.twitter.com" android:pathPattern="/.*/status/.*" />
                <data android:scheme="http" android:host="mobile.twitter.com" android:pathPattern="/.*/statuses/.*" />
                <data android:scheme="https" android:host="mobile.twitter.com" android:pathPattern="/.*/statuses/.*" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="net.azyobuzi.fallfavo.ADD_FAV_QUEUE" />
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingActivity" android:label="@string/setting"/>
        <activity android:name=".LogActivity" android:label="@string/error_log"/>
        <activity android:name=".IgnoreSettingActivity" android:label="@string/ignore_setting"/>
        <activity android:name=".EditIgnoreSettingActivity" android:label="@string/edit_ignore_setting"
            android:windowSoftInputMode="adjustResize"/>
        <service android:name=".ReleaseService"/>
    </application>

</manifest>